:root {
  --color-neutral-100: hsl(0, 0%, 96%);
  --color-neutral-600: hsl(0, 0%, 16%);
  --color-primary: steelblue;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  min-height: 100vh;

  background: var(--color-neutral-100);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

h1,
.h1 {
  font-size: 2.488rem;
}

h2,
.h2 {
  font-size: 2.074rem;
}

h3,
.h3 {
  font-size: 1.728rem;
}

h4,
.h4 {
  font-size: 1.44rem;
}

h5,
.h5 {
  font-size: 1.2rem;
}

small,
.text-small {
  font-size: 0.833rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}

#container {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;

  display: grid;
  grid-template-rows: auto 1fr;
}

#navbar {
  min-height: 50px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--color-primary);
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.138em;
  color: var(--color-neutral-600);
}

.nav-link-active {
  color: var(--color-primary);
}

section {
  height: 100%;
  padding: 1rem 2rem;
}

/* GAME SECTION ========== */
.blurb {
  margin-top: 0;
  text-align: center;
  font-weight: 300;
}

#rgb {
  margin-top: 0;
}

.colors {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  margin: auto;
}

.color {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11rem;
}

/* HELPER CLASSES ========== */
.display-none {
  display: none;
}

/* MEDIA QUERIES ========== */
@media only screen and (min-width: 850px) {
  /* GAME SECTION ========== */
  .colors {
    width: 800px;
  }
}
